Repository vishwahegdek/zenkar-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --prefix backend, npm run lint --prefix frontend

.lintstagedrc:

{
  "backend/**/*.{ts,js}": [
    "npm run lint --prefix backend"
  ],
  "frontend/**/*.{ts,tsx,js}": [
    "npm run lint --prefix frontend"
  ]
}

feat: Implement Soft Closing and Income Statement with Balance Sheet Grouping
  backend/prisma/migrations/20260608131100_add_system_settings/migration.sql
  backend/prisma/schema.prisma
  backend/src/ledger/ledger.controller.ts
  backend/src/ledger/ledger.service.ts
  backend/src/purchases/purchases.service.ts
  frontend/src/App.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/pages/AdminDashboard.jsx
  frontend/src/pages/BalanceSheet.jsx
  frontend/src/pages/IncomeStatement.jsx
  frontend/src/pages/LedgerAccounts.jsx
Due: npm run lint --prefix backend

fix: resolve balance initialization and labour service issues
  backend/scripts/fetch_labour_data.js
  backend/src/labour/labour.controller.ts
  backend/src/labour/labour.service.ts
  backend/src/ledger/ledger.service.ts
  backend/src/orders/orders.service.ts
  deploy/orderdemo.zenkar.in
  deploy/staging-docker-compose.yml
  frontend/src/pages/Labour/LabourReport.jsx
Due: npm run lint --prefix backend

feat: add deployment procedure and latest fixes
  deploy/deployment_procedure.md
  frontend/src/pages/Labour/LabourEntry.jsx
  frontend/src/pages/Labour/LabourReport.jsx
Due: none

fix: resolve BalanceInitializer missing account type and missing 0 balance accounts
  backend/scripts/fetch_balance_sheet.js
  backend/scripts/fetch_equity.js
  frontend/src/pages/BalanceInitializer.jsx
Due: npm run lint --prefix backend

feat: add running balance to ledger dashboard for specific accounts
  backend/src/ledger/ledger.service.ts
  frontend/src/pages/LedgerDashboard.jsx
Due: npm run lint --prefix backend

feat: Add Settlement History page and fix negative payments
  deploy/production/docker-compose.yml
  deploy/staging/docker-compose.yml
  frontend/src/App.jsx
  frontend/src/pages/Labour/LabourLayout.jsx
  frontend/src/pages/Labour/LabourSettlements.jsx
Due: none

feat: migrate payments to explicit treasury account routing
  backend/prisma/migrations/20260614151401_add_ledger_account_user_id/migration.sql
  backend/prisma/migrations/20260614160747_add_account_id_to_payment/migration.sql
  backend/prisma/schema.prisma
  backend/scripts/check-accounts.ts
  backend/scripts/check_accounts.js
  backend/scripts/find-users.js
  backend/scripts/seed-treasury.js
  backend/src/expenses/dto/create-expense.dto.ts
  backend/src/expenses/expenses.service.ts
  backend/src/ledger/ledger.controller.ts
  backend/src/ledger/ledger.service.ts
  backend/src/orders/dto/create-order.dto.ts
  backend/src/orders/dto/sync-payments.dto.ts
  backend/src/orders/orders.controller.ts
  backend/src/orders/orders.service.ts
  frontend/src/components/PaymentMethodSelector.jsx
  frontend/src/components/TransferMoneyModal.jsx
  frontend/src/pages/ExpenseForm.jsx
  frontend/src/pages/LedgerDashboard.jsx
  frontend/src/pages/OrderDetails.jsx
  frontend/src/pages/QuickSale.jsx
Due: npm run lint --prefix backend

fix: Settle Clear bug in labour settlements to write-off remaining balances and zero netBalance
  backend/scripts/migrate_ledger.js
  backend/src/labour/labour.service.ts
Due: npm run lint --prefix backend

fix: resolve massive ledger double-counting for labourer payments
  backend/scripts/inspect_cash.js
  backend/scripts/inspect_labour_overlap.js
  backend/scripts/migrate_ledger.js
  backend/src/expenses/expenses.service.ts
  backend/src/labour/labour.service.ts
Due: npm run lint --prefix backend

feat: Decouple LabourPayment from Expense and implement Dynamic Live Accruals
  backend/prisma/migrations/20260615_extract_labour_payments/migration.sql
  backend/prisma/schema.prisma
  backend/scripts/migrate_ledger.js
  backend/src/dashboard/dashboard.service.ts
  backend/src/expenses/expenses.controller.ts
  backend/src/expenses/expenses.service.ts
  backend/src/labour/labour.service.ts
  backend/src/ledger/ledger.service.ts
Due: npm run lint --prefix backend

Deploy update
  backend/src/orders/orders.service.ts
  frontend/src/pages/ExpenseForm.jsx
  frontend/src/pages/OrderDetails.jsx
  frontend/src/pages/OrderForm.jsx
Due: npm run lint --prefix backend

fix: Enforce payment method selection and fix CreateOrderDto
  backend/src/orders/dto/create-order.dto.ts
Due: npm run lint --prefix backend

feat: Labour payments don't hit ledger, use dynamic balance sheet accruals and populate ledger only at settlement
  backend/scripts/migrate_ledger.js
  backend/src/labour/labour.service.ts
  backend/src/ledger/ledger.service.ts
  deploy/staging/docker-compose.yml
  frontend/nginx.conf
Due: npm run lint --prefix backend

fix: remove paymentAccountId from Prisma
  backend/src/orders/orders.service.ts
Due: npm run lint --prefix backend

fix: treasury accounts visibility and transfer modal rendering
  backend/src/ledger/ledger.service.ts
  frontend/src/pages/LedgerDashboard.jsx
  test-transfer.js
Due: npm run lint --prefix backend

fix: revert treasury accounts visibility to allow global bank accounts
  backend/src/ledger/ledger.service.ts
Due: npm run lint --prefix backend

fix: explicitly hide BANK accounts with null user_id from payment selectors
  backend/src/ledger/ledger.service.ts
Due: npm run lint --prefix backend

feat: add SearchableSelect for accounts on ledger and adjustment modals
  frontend/src/components/ManualAdjustmentModal.jsx
  frontend/src/components/SearchableSelect.jsx
  frontend/src/pages/LedgerDashboard.jsx
Due: none

fix: completely remove obsolete accruedPaid and its usage
  backend/src/ledger/ledger.service.ts
Due: npm run lint --prefix backend

feat: update payment method fetch logic to all cash and user specific accounts
  backend/prisma/migrations/20260615213644_add_user_preferences/migration.sql
  backend/prisma/schema.prisma
  backend/src/ledger/ledger.service.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  frontend/src/App.jsx
  frontend/src/components/PaymentMethodSelector.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/pages/Settings.jsx
Due: npm run lint --prefix backend

feat: custom nicknames and two-row mobile styling for payment tabs
  frontend/src/components/PaymentMethodSelector.jsx
  frontend/src/pages/Settings.jsx
Due: none

feat: auto-open searchable select and fix text sizing for two-row labels
  frontend/src/components/PaymentMethodSelector.jsx
  frontend/src/components/SearchableSelect.jsx
Due: none

refactor: remove finance book and dependencies
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/customers/customers.module.ts
  backend/src/customers/customers.service.ts
  backend/src/dashboard/dashboard.controller.ts
  backend/src/dashboard/dashboard.service.ts
  backend/src/finance/dto/create-party.dto.ts
  backend/src/finance/dto/create-transaction.dto.ts
  backend/src/finance/finance.controller.ts
  backend/src/finance/finance.module.ts
  backend/src/finance/finance.service.ts
  backend/src/ledger/ledger.controller.ts
  backend/src/ledger/ledger.service.ts
  backend/src/orders/orders.service.ts
  backend/src/purchases/purchases.service.ts
  backend/src/suppliers/suppliers.service.ts
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/pages/Finance/FinanceHistoryModal.jsx
  frontend/src/pages/Finance/FinancePage.jsx
  frontend/src/pages/Finance/FinancePartyModal.jsx
  frontend/src/pages/Finance/TransactionModal.jsx
  frontend/src/pages/JournalEntryForm.jsx
  frontend/src/pages/LedgerDashboard.jsx
  frontend/src/pages/SalesDashboard.jsx
Due: npm run lint --prefix backend

fix: exclude ENQUIRED orders from sales figures
  backend/src/dashboard/dashboard.service.ts
Due: npm run lint --prefix backend

chore: remove income sheet
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/pages/IncomeSheet.jsx
Due: none

feat: refactor labour reports and directly credit ledger
  backend/prisma/schema.prisma
  backend/src/labour/labour.controller.ts
  backend/src/labour/labour.service.ts
  frontend/src/pages/Labour/LabourEntry.jsx
  frontend/src/pages/Labour/LabourLayout.jsx
  frontend/src/pages/Labour/LabourReport.jsx
  frontend/src/pages/OrderForm.jsx
Due: npm run lint --prefix backend

chore: add missing db migration file for labour payments
  backend/prisma/migrations/20260617160000_add_account_id_to_labour_payment/migration.sql
Due: none

feat: improve labour navigation and global 401 redirect
  frontend/src/api.js
  frontend/src/pages/Labour/LabourEntry.jsx
  frontend/src/pages/Labour/LabourLayout.jsx
  frontend/src/pages/Labour/LabourReport.jsx
  frontend/src/pages/Labour/LabourSettlements.jsx
Due: npm run lint --prefix frontend

style: optimize labour settlement history for mobile devices
  frontend/src/pages/Labour/LabourSettlements.jsx
Due: none

fix: remove padding wrapper for labour settlements
  frontend/src/pages/Labour/LabourLayout.jsx
Due: none

fix: restrict labour daily entry to cash transactions only
  backend/src/labour/labour.service.ts
  frontend/src/pages/Labour/LabourEntry.jsx
Due: npm run lint --prefix backend

feat: implement labour analytics and sales category filter
  backend/src/dashboard/dashboard.service.ts
  backend/src/labour/labour.controller.ts
  backend/src/labour/labour.service.ts
  frontend/src/App.jsx
  frontend/src/pages/BalanceSheet.jsx
  frontend/src/pages/Labour/LabourAnalytics.jsx
  frontend/src/pages/Labour/LabourEntry.jsx
  frontend/src/pages/Labour/LabourLayout.jsx
  frontend/src/pages/SalesDashboard.jsx
Due: npm run lint --prefix backend

feat: display total amount paid in labour analytics
  backend/src/labour/labour.service.ts
  frontend/src/pages/Labour/LabourAnalytics.jsx
Due: npm run lint --prefix backend

feat: global smart order text for linking to orders from remarks
  backend/src/orders/orders.controller.ts
  backend/src/orders/orders.service.ts
  frontend/src/components/SmartOrderText.jsx
  frontend/src/pages/CashflowDashboard.jsx
  frontend/src/pages/LedgerDashboard.jsx
  frontend/src/pages/OrderDetails.jsx
Due: npm run lint --prefix backend

feat: ledger column filters and custom date range
  frontend/src/pages/LedgerDashboard.jsx
Due: none

feat: restore all time tab alongside custom range
  frontend/src/pages/LedgerDashboard.jsx
Due: none

fix: keep ledger column filters visible when no entries match
  frontend/src/pages/LedgerDashboard.jsx
Due: none

feat: make labour settlement history rows clickable to view report
  frontend/src/pages/Labour/LabourReport.jsx
  frontend/src/pages/Labour/LabourSettlements.jsx
Due: none

feat: show individual labourer accrued wages and payments in balance sheet
  backend/src/ledger/ledger.service.ts
  frontend/src/pages/BalanceSheet.jsx
Due: npm run lint --prefix backend

feat: highlight out of sync labourer balances in balance sheet
  backend/src/ledger/ledger.service.ts
  frontend/src/pages/BalanceSheet.jsx
Due: npm run lint --prefix backend
