Repository vishwahegdek/zenkar-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --prefix backend, npm run lint --prefix frontend

fix: match labourer account by id instead of string name and sync name on update
  backend/src/labour/labour.service.ts
  backend/src/ledger/ledger.service.ts
Due: npm run lint --prefix backend

fix: attach real ledger account ID to zero-balance virtual accrual items
  backend/src/ledger/ledger.service.ts
Due: npm run lint --prefix backend

feat: Add smart Wood Estimator with DB-backed wood types and responsive UI
  backend/prisma/schema.prisma
  backend/scripts/seed_wood_types.js
  backend/src/app.module.ts
  backend/src/wood-types/wood-types.controller.ts
  backend/src/wood-types/wood-types.module.ts
  backend/src/wood-types/wood-types.service.ts
  frontend/src/App.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/pages/WoodEstimator.jsx
Due: npm run lint --prefix backend

chore: ignore env files
  .gitignore
Due: none

Minor UI changes
  frontend/src/pages/WoodEstimator.jsx
Due: none

UI Changes
  frontend/src/pages/WoodEstimator.jsx
Due: none

Minor
  frontend/src/pages/WoodEstimator.jsx
Due: none

Added Profit Margin in the Custom Products estimator
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/saved-estimates/saved-estimates.controller.ts
  backend/src/saved-estimates/saved-estimates.module.ts
  backend/src/saved-estimates/saved-estimates.service.ts
  frontend/src/App.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/pages/CustomProducts.jsx
  frontend/src/pages/WoodEstimator.jsx
Due: npm run lint --prefix backend

Added created by fields for estimates, producst customers, orders etc
  backend/prisma/schema.prisma
  backend/src/customers/customers.service.ts
  backend/src/orders/orders.service.ts
  backend/src/products/products.controller.ts
  backend/src/products/products.service.ts
  backend/src/saved-estimates/saved-estimates.service.ts
  frontend/src/pages/CustomProducts.jsx
  frontend/src/pages/CustomersList.jsx
  frontend/src/pages/OrdersList.jsx
  frontend/src/pages/ProductsList.jsx
  frontend/src/pages/WoodEstimator.jsx
Due: npm run lint --prefix backend

Ledger mobile layout adjusted
  frontend/src/pages/LedgerDashboard.jsx
Due: none

NA
  frontend/src/pages/OrdersList.jsx
Due: none

Standardize SavedEstimate createdBy to use foreign key
  backend/prisma/migrations/20260716084316_standardize_saved_estimates/migration.sql
  backend/prisma/schema.prisma
  backend/src/saved-estimates/saved-estimates.controller.ts
  backend/src/saved-estimates/saved-estimates.service.ts
Due: npm run lint --prefix backend

New Quick Estimate buttons added
  backend/check_wood_types.js
  backend/seed_wood_types.js
  frontend/src/pages/CustomProducts.jsx
  frontend/src/pages/WoodEstimator.jsx
  frontend/src/utils/estimationEngine.js
Due: npm run lint --prefix backend, npm run lint --prefix frontend

Minor changes
  frontend/src/pages/CustomProducts.jsx
Due: none

Refined the Labour Report
  frontend/src/pages/Labour/LabourReport.jsx
Due: none

Refined the Labour Section in the Balance Sheet
  backend/src/ledger/ledger.service.ts
  frontend/src/pages/BalanceSheet.jsx
Due: npm run lint --prefix backend

Developed Home Page
  frontend/src/App.jsx
  frontend/src/pages/Home.jsx
  frontend/src/pages/Settings.jsx
Due: none

Refined the Home page
  frontend/src/pages/Home.jsx
  frontend/src/pages/Settings.jsx
Due: none

Minor fixes
  frontend/src/pages/Home.jsx
Due: none

Order form refined
  frontend/src/components/Autocomplete.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/OrderItemsTable.jsx
  frontend/src/components/PaymentMethodSelector.jsx
  frontend/src/index.css
  frontend/src/pages/OrderForm.jsx
  frontend/src/pages/QuickSale.jsx
Due: none

Minor fix
  backend/src/orders/orders.service.ts
  deploy/deployment_procedure.md
Due: npm run lint --prefix backend

Path conditions:
  npm run lint --prefix backend: any of: backend/**/*.{ts,js}
  npm run lint --prefix frontend: any of: frontend/**/*.{ts,tsx,js}
