Repository vishwahegdek/zenkar-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --prefix backend, npm run lint --prefix frontend

.lintstagedrc:

{
  "backend/**/*.{ts,js}": [
    "npm run lint --prefix backend"
  ],
  "frontend/**/*.{ts,tsx,js}": [
    "npm run lint --prefix frontend"
  ]
}

chore: release v1.2.0
  CHANGELOG.md
  backend/package.json
  frontend/package.json
  package.json
Due: none

added deploy staging file
  deploy/staging/deploy_staging_safe.sh
Due: none

Changed to docker-compose
  deploy/staging/deploy_staging_safe.sh
Due: none

chore(deploy): prepare staging deployment v1.2.1 with build context
  deploy/staging/deploy_staging_safe.sh
  deploy/staging/docker-compose.yml
Due: none

chore(deploy): remove minio from staging
  deploy/staging/docker-compose.yml
Due: none

fix(deploy): cleanup legacy containers by name
  deploy/staging/deploy_staging_safe.sh
Due: none

fix(deploy): use correct production pgdata volume
  deploy/production/docker-compose.yml
Due: none

fix(deploy): use correct production db name order_book
  deploy/production/docker-compose.yml
Due: none

docs: add deployment reference registry
  deploy/DEPLOYMENT_REFERENCE.md
Due: none

fix(auth): use environment variable for google callback
  backend/src/auth/google.strategy.ts
Due: npm run lint --prefix backend

fix(deploy): add staging google callback url
  deploy/staging/docker-compose.yml
Due: none

Deleted unneccessary legacy files
  backend/count_customers.ts
  remote_exec.py
  remote_scp.py
Due: npm run lint --prefix backend

Removed unneccesaary docs and scripts
  cicd.sh
  docs/backup_and_recovery.md
  docs/deployment.md
  docs/development_flow.md
  docs/infrastructure.md
  docs/server_access.md
  docs/server_state_log.md
  project_rules.md
Due: none

Deleted unneccessary scripts
  project_rules.md
  scripts/backup.sh
  scripts/migrate_db_safe.sh
  scripts/sync_backups.sh
Due: none

fix(backend): correct entry point path to dist/src/main
  backend/package.json
Due: none

fix(auth): add dummy google credentials fallback
  backend/src/auth/google.strategy.ts
Due: npm run lint --prefix backend

fix(deploy): use env_file for sensitive vars in staging
  deploy/staging/docker-compose.yml
Due: none

docs: add security rule for env management
  deploy/DEPLOYMENT_REFERENCE.md
Due: none

fix(customers): handle google api errors gracefully
  backend/src/customers/customers.service.ts
Due: npm run lint --prefix backend

chore(deploy): configure production to use env_file
  deploy/production/docker-compose.yml
Due: none

Added docs
  CHANGELOG.md
  backend/src/auth/auth.controller.ts
  backend/src/customers/customers.controller.ts
  backend/src/orders/orders.controller.ts
  backend/src/products/products.controller.ts
  deploy/DEPLOYMENT_REFERENCE.md
  deploy/staging/docker-compose.yml
  docs/DATAFLOW.md
  docs/TECHNICAL_DOCS.md
  docs/USER_MANUAL.md
  minio_data_demo/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data_demo/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
  minio_data_demo/.minio.sys/buckets/.usage-cache.bin/xl.meta
  minio_data_demo/.minio.sys/buckets/.usage.json/xl.meta
  minio_data_demo/.minio.sys/buckets/zenkar-assets/.metadata.bin/xl.meta
  minio_data_demo/.minio.sys/buckets/zenkar-assets/.usage-cache.bin.bkp/xl.meta
  minio_data_demo/.minio.sys/buckets/zenkar-assets/.usage-cache.bin/xl.meta
  minio_data_demo/.minio.sys/buckets/zenkar-raw/.metadata.bin/xl.meta
  minio_data_demo/.minio.sys/buckets/zenkar-raw/.usage-cache.bin.bkp/xl.meta
  minio_data_demo/.minio.sys/buckets/zenkar-raw/.usage-cache.bin/xl.meta
  minio_data_demo/.minio.sys/config/config.json/xl.meta
  minio_data_demo/.minio.sys/config/iam/format.json/xl.meta
  minio_data_demo/.minio.sys/format.json
  minio_data_demo/.minio.sys/pool.bin/xl.meta
  minio_data_demo/.minio.sys/tmp/b7b71aea-2962-4d69-8834-8fa10c2de0c5
  minio_data_demo/zenkar-assets/opt/1637a7f6-8ac2-496c-97a7-b3d5b9efcd03.webp/xl.meta
  minio_data_demo/zenkar-assets/opt/3c843b6c-4b3e-428d-abee-00b1a1ab132f.webp/xl.meta
  minio_data_demo/zenkar-assets/opt/3d18d987-f0ba-4aa7-aab5-36f328ef027c.webp/xl.meta
  minio_data_demo/zenkar-assets/opt/7d238ba4-9643-4714-9c0c-6fad56e8d6f8.webp/xl.meta
  minio_data_demo/zenkar-assets/thumb/1637a7f6-8ac2-496c-97a7-b3d5b9efcd03.webp/xl.meta
  minio_data_demo/zenkar-assets/thumb/3c843b6c-4b3e-428d-abee-00b1a1ab132f.webp/xl.meta
  minio_data_demo/zenkar-assets/thumb/3d18d987-f0ba-4aa7-aab5-36f328ef027c.webp/xl.meta
  minio_data_demo/zenkar-assets/thumb/7d238ba4-9643-4714-9c0c-6fad56e8d6f8.webp/xl.meta
  minio_data_demo/zenkar-raw/raw/1637a7f6-8ac2-496c-97a7-b3d5b9efcd03.jpg/cdb404da-fd66-4bbf-92c4-2b4348d49239/part.1
  minio_data_demo/zenkar-raw/raw/1637a7f6-8ac2-496c-97a7-b3d5b9efcd03.jpg/xl.meta
  minio_data_demo/zenkar-raw/raw/3c843b6c-4b3e-428d-abee-00b1a1ab132f.jpg/fd1e5b4f-3cd6-4a42-abda-e471f4193834/part.1
  minio_data_demo/zenkar-raw/raw/3c843b6c-4b3e-428d-abee-00b1a1ab132f.jpg/xl.meta
  minio_data_demo/zenkar-raw/raw/3d18d987-f0ba-4aa7-aab5-36f328ef027c.jpeg/xl.meta
  minio_data_demo/zenkar-raw/raw/7d238ba4-9643-4714-9c0c-6fad56e8d6f8.jpg/3a198023-1035-4f77-a44b-e11dcb60087a/part.1
  minio_data_demo/zenkar-raw/raw/7d238ba4-9643-4714-9c0c-6fad56e8d6f8.jpg/xl.meta
Due: npm run lint --prefix backend

Release v1.4.1: Quick Sale Feature
  CHANGELOG.md
  backend/prisma/schema.prisma
  backend/src/orders/dto/create-order.dto.ts
  backend/src/orders/orders.service.ts
  docs/TECHNICAL_DOCS.md
  docs/USER_MANUAL.md
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/pages/OrderForm.jsx
  frontend/src/pages/OrdersList.jsx
  frontend/src/pages/QuickSale.jsx
Due: npm run lint --prefix backend

feat(v1.6.0): Contacts overhaul, Dashboard fixes, and Payment refactor
  CHANGELOG.md
  backend/backend_log.txt
  backend/prisma/schema.prisma
  backend/src/auth/auth.controller.ts
  backend/src/auth/google.guard.ts
  backend/src/contacts/contacts.controller.ts
  backend/src/contacts/contacts.service.ts
  backend/src/dashboard/dashboard.service.ts
  backend/src/labour/labour.service.ts
  backend/src/orders/dto/create-order.dto.ts
  backend/src/orders/orders.service.ts
  backend/test/labour.e2e-spec.ts
  frontend/e2e/contacts.spec.ts
  frontend/e2e/orders.spec.ts
  frontend/e2e/quick-sale.spec.ts
  frontend/e2e/smart-selector.spec.ts
  frontend/src/components/Autocomplete.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/SmartSelector.jsx
  frontend/src/pages/ContactsManager.jsx
  frontend/src/pages/CustomersList.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/ExpenseForm.jsx
  frontend/src/pages/OrderForm.jsx
  frontend/src/pages/QuickSale.jsx
Due: npm run lint --prefix backend, npm run lint --prefix frontend

fix: Typo in staging docker-compose env_file path
  deploy/staging/docker-compose.yml
Due: none

fix: Remove duplicate totalAmount key causing build failure
  frontend/src/pages/QuickSale.jsx
Due: none

refactor: switch deployment to docker hub
  backend/.dockerignore
  backend/prisma/schema_changelog.md
  deploy/build_and_push.sh
  deploy/deploy_remote.sh
  deploy/production/docker-compose.yml
  deploy/restore_db.sh
  deploy/staging/deploy_staging_safe.sh
  deploy/staging/docker-compose.yml
  deploy/staging/ship_to_staging.sh
  frontend/.dockerignore
Due: none

fix: update deployment workflow to use master branch
  deploy/DEPLOYMENT_REFERENCE.md
  deploy/deploy_remote.sh
Due: none

fix: use $HOME instead of ~ in deployment script
  deploy/deploy_remote.sh
Due: none

Added sudo
  deploy/deploy_remote.sh
Due: none

fix: generate missing migration for payments.updated_at
  backend/prisma/migrations/20251212173059_fix_payment_updated_at/migration.sql
Due: none

docs: update deployment reference
  deploy/DEPLOYMENT_REFERENCE.md
Due: none

fix: add script to manually resolve production migration drift
  deploy/fix_prod_migration.sql
Due: none

feat: add mongo to postgres migration script
  backend/scripts/migrate_mongo_prod.js
Due: npm run lint --prefix backend

feat: refactor labour service for shared access and remove userId
  backend/prisma/migrations/20251213120000_remove_labourer_userid/migration.sql
  backend/prisma/schema.prisma
  backend/scripts/migrate_mongo_prod.js
  backend/src/labour/labour.controller.ts
  backend/src/labour/labour.service.ts
Due: npm run lint --prefix backend

chore: archive mongo migration script
  backend/.gitignore
  backend/scripts/migrate_mongo_prod.js
Due: npm run lint --prefix backend
