Repository vishwahegdek/zenkar-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --prefix backend, npm run lint --prefix frontend

.lintstagedrc:

{
  "backend/**/*.{ts,js}": [
    "npm run lint --prefix backend"
  ],
  "frontend/**/*.{ts,tsx,js}": [
    "npm run lint --prefix frontend"
  ]
}

feat: implement Carry Forward Balance and Report History (v1.8.1)
  CHANGELOG.md
  backend/package.json
  backend/prisma/migrations/20251218052830_add_carry_forward_settlement/migration.sql
  backend/prisma/schema.prisma
  backend/src/labour/dto/create-settlement.dto.ts
  backend/src/labour/labour.controller.ts
  backend/src/labour/labour.service.ts
  backend/test/labour.e2e-spec.ts
  frontend/package.json
  frontend/src/pages/Labour/LabourEntry.jsx
  frontend/src/pages/Labour/LabourReport.jsx
  project_rules.md
Due: npm run lint --prefix backend

chore: optimize build_and_push.sh to avoid pushing all local tags
  deploy/build_and_push.sh
Due: none

chore(deploy): implement build-once-deploy-anywhere workflow
  deploy/DEPLOYMENT_REFERENCE.md
  deploy/build_and_push.sh
  deploy/promote_to_prod.sh
Due: none

chore(deploy): auto-save and reuse built SHA for easier promotion
  .gitignore
  deploy/build_and_push.sh
  deploy/promote_to_prod.sh
Due: none

docs: update deployment reference to use git pull instead of wget
  deploy/DEPLOYMENT_REFERENCE.md
Due: none

fix(deploy): remove root git commands from script, rely on user git pull
  deploy/deploy_remote.sh
Due: none

fix(db): add 2-phase migration scripts for Old Imports
  deploy/cleanup_old_imports.sql
  deploy/fix_old_imports.sql
Due: none

fix(ui): enforce standard date format (dd/MM/yyyy) across mobile/desktop
  frontend/src/pages/AdminDashboard.jsx
  frontend/src/pages/CreditorDetails.jsx
  frontend/src/pages/Labour/LabourReport.jsx
  frontend/src/pages/OrdersList.jsx
Due: none

Fixed Expense Form Bugs
  .dockerignore
  CHANGELOG.md
  backend/Dockerfile
  backend/src/expenses/expenses.controller.ts
  backend/src/expenses/expenses.service.ts
  backend/src/orders/dto/create-order.dto.ts
  backend/test/expenses.e2e-spec.ts
  backend/test/orders.e2e-spec.ts
  backend/test_output.txt
  deploy/DEPLOYMENT_REFERENCE.md
  frontend/e2e/expenses.spec.ts
  frontend/e2e/labour-flow.spec.ts
  frontend/e2e/orders.spec.ts
  frontend/src/App.jsx
  frontend/src/pages/ExpenseForm.jsx
  frontend/src/pages/ExpensesBook.jsx
  tests/expenses_coverage.md
Due: npm run lint --prefix backend, npm run lint --prefix frontend

Fixed the docker issues
  backend/Dockerfile
Due: none

Fixed advance amount bug in the New Order Form
  backend/src/orders/dto/create-order.dto.ts
  backend/src/orders/orders.service.ts
  backend/test/strict_orders.e2e-spec.ts
  tests/order_coverage.md
Due: npm run lint --prefix backend

Added Finance Book prototype
  backend/prisma/migrations/20251218135240_init_finance_module/migration.sql
  backend/prisma/migrations/20251218135515_add_contact_to_finance/migration.sql
  backend/prisma/migrations/20251218143529_make_party_name_optional/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/creditors/creditors.controller.ts
  backend/src/creditors/creditors.module.ts
  backend/src/creditors/creditors.service.ts
  backend/src/creditors/dto/create-creditor.dto.ts
  backend/src/creditors/dto/create-transaction.dto.ts
  backend/src/creditors/dto/update-creditor.dto.ts
  backend/src/finance/dto/create-party.dto.ts
  backend/src/finance/dto/create-transaction.dto.ts
  backend/src/finance/finance.controller.ts
  backend/src/finance/finance.module.ts
  backend/src/finance/finance.service.ts
  backend/src/orders/orders.service.ts
  backend/test/finance.e2e-spec.ts
  frontend/e2e/finance.spec.ts
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/pages/Finance/FinancePage.jsx
  frontend/src/pages/Finance/FinancePartyModal.jsx
  frontend/src/pages/Finance/TransactionModal.jsx
Due: npm run lint --prefix backend, npm run lint --prefix frontend

fix: remove advanceAmount from Edit Order flow
  backend/src/orders/orders.controller.ts
  backend/src/orders/orders.service.ts
  backend/test/orders-search.e2e-spec.ts
  frontend/e2e/orders-pagination.spec.ts
  frontend/e2e/orders.spec.ts
  frontend/src/pages/OrderForm.jsx
  frontend/src/pages/OrdersList.jsx
  tests/order_coverage.md
Due: npm run lint --prefix backend, npm run lint --prefix frontend

chore: add git status check to build script
  deploy/build_and_push.sh
Due: none

release: v1.9.0 - Global Access & Google Sync
  CHANGELOG.md
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20260105071948_add_gst_invoice/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/google.strategy.ts
  backend/src/contacts/contacts-sync.service.ts
  backend/src/contacts/contacts.controller.ts
  backend/src/contacts/contacts.module.ts
  backend/src/contacts/contacts.service.ts
  backend/src/contacts/dto/create-contact.dto.ts
  backend/src/customers/customers.controller.ts
  backend/src/customers/customers.service.ts
  backend/src/expenses/expenses.service.ts
  backend/src/finance/finance.controller.ts
  backend/src/finance/finance.service.ts
  backend/src/main.ts
  backend/src/orders/orders.controller.ts
  backend/src/orders/orders.service.ts
  backend/src/recipients/recipients.service.ts
  backend/src/users/users.service.ts
  frontend/e2e/mocks/orders.mock.ts
  frontend/e2e/order-print.spec.ts
  frontend/e2e/utils/test-helpers.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api.js
  frontend/src/components/Autocomplete.jsx
  frontend/src/components/BillView.jsx
  frontend/src/components/SmartSelector.jsx
  frontend/src/pages/ContactsManager.jsx
  frontend/src/pages/OrderDetails.jsx
  frontend/src/pages/OrdersList.jsx
  frontend/src/pages/QuickSale.jsx
Due: npm run lint --prefix backend, npm run lint --prefix frontend

fix: v1.9.1 - Add missing migration for Google Sync fields
  backend/Dockerfile
  backend/prisma/migrations/20260105171219_add_google_sync_fields/migration.sql
Due: none

Documentation
  CHANGELOG.md
Due: none

fix: hardcode deployment paths to avoid sudo home dir issues
  deploy/deploy_remote.sh
Due: none

fix(deploy): include app version in backup filename
  deploy/deploy_remote.sh
Due: none

feat: Add Product Category migration with data backfill
  backend/prisma/migrations/20260107143000_add_product_categories/migration.sql
Due: none

fix(deploy): improve script reliability and SHA handling
  deploy/build_and_push.sh
  deploy/promote_to_prod.sh
Due: none

fix(db): globally enforce restrict on delete for foreign keys
  backend/prisma/migrations/20260107120128_restrict_deletions_global/migration.sql
  backend/prisma/schema.prisma
Due: none

feat: Enhance Order & Production UI (Editable Item Status, Filter Delivered)
  backend/src/orders/orders.service.ts
  frontend/src/pages/OrderDetails.jsx
Due: npm run lint --prefix backend

fix: Enable navigation on mobile production queue items
  frontend/src/pages/ProductionPage.jsx
Due: none

feat: implement smart edit and phone upgrade logic (Phase 9)
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20260110060543_add_contact_phones/migration.sql
  backend/prisma/schema.prisma
  backend/scripts/migrate_phones.ts
  backend/src/contacts/contacts.controller.ts
  backend/src/contacts/contacts.service.ts
  backend/src/contacts/dto/create-contact.dto.ts
  backend/src/customers/customers.controller.spec.ts
  backend/src/customers/customers.service.spec.ts
  backend/src/customers/customers.service.ts
  backend/src/customers/dto/create-customer.dto.ts
  backend/src/orders/orders.controller.spec.ts
  backend/src/orders/orders.service.spec.ts
  backend/src/orders/orders.service.ts
  backend/src/prisma/prisma.service.mock.ts
  backend/src/products/products.controller.spec.ts
  backend/src/products/products.service.spec.ts
  frontend/e2e/contacts.spec.ts
  frontend/e2e/customers.spec.ts
  frontend/e2e/smart_edit.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.jsx
  frontend/src/api.js
  frontend/src/components/ContactForm.jsx
  frontend/src/components/Layout.jsx
  frontend/src/pages/ContactsManager.jsx
  frontend/src/pages/CustomerForm.jsx
  frontend/src/pages/OrderForm.jsx
  frontend/src/pages/QuickSale.jsx
  frontend/src/utils/formatters.test.ts
  frontend/src/utils/formatters.ts
  frontend/vite.config.js
  scripts/snapshot-coverage.sh
  tests/history/2026-01-08_coverage.md
Due: npm run lint --prefix backend, npm run lint --prefix frontend

chore: enable data migration in docker build by compiling script
  backend/Dockerfile
  backend/scripts/migrate_phones.ts
Due: npm run lint --prefix backend

fix: move migration script to src/scripts to ensure compilation
  backend/Dockerfile
  backend/src/scripts/migrate_phones.ts
Due: npm run lint --prefix backend

docs: release v1.11.0 details
  CHANGELOG.md
  backend/package.json
  frontend/package.json
Due: none

feat: Implement DELIVERED order status (v1.12.0)
  CHANGELOG.md
  backend/prisma/schema.prisma
  backend/src/orders/orders.service.ts
  frontend/e2e/order_delivery_logic.spec.ts
  frontend/src/pages/OrderDetails.jsx
  frontend/src/pages/OrderForm.jsx
  frontend/src/pages/OrdersList.jsx
Due: npm run lint --prefix backend, npm run lint --prefix frontend

chore: Add migration for DELIVERED status
  backend/prisma/migrations/20260111075415_add_delivered_status/migration.sql
Due: none

Added Finance History
  docs/PROJECT_REPORT.md
  frontend/e2e/finance_history.spec.ts
  frontend/src/pages/Finance/FinanceHistoryModal.jsx
  frontend/src/pages/Finance/FinancePage.jsx
Due: npm run lint --prefix frontend

feat: ERP-style navigation restructuring and layout refinements
  frontend/e2e/navigation_erp.spec.ts
  frontend/src/components/Layout.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/pages/ContactsManager.jsx
  frontend/src/pages/CustomersList.jsx
  frontend/src/pages/ExpensesBook.jsx
  frontend/src/pages/Finance/FinancePage.jsx
  frontend/src/pages/Labour/LabourLayout.jsx
  frontend/src/pages/OrdersList.jsx
  frontend/src/pages/ProductionPage.jsx
  frontend/src/pages/ProductsList.jsx
  frontend/src/pages/QuickSale.jsx
Due: npm run lint --prefix frontend

feat: implement cashflow dashboard and rename old dashboard to income sheet
  backend/src/dashboard/dashboard.controller.ts
  backend/src/dashboard/dashboard.service.ts
  frontend/e2e/dashboard.spec.ts
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/pages/CashflowDashboard.jsx
  frontend/src/pages/IncomeSheet.jsx
Due: npm run lint --prefix backend, npm run lint --prefix frontend

refactor: update cashflow dashboard to use rolling 7 and 30 day ranges
  frontend/src/pages/CashflowDashboard.jsx
Due: none

feat: Inventory tracking, Purchase module, and Mobile layout/InvoiceNo fixes
  .gitignore
  backend/package-lock.json
  backend/prisma/migrations/20260112080957_rename_inventory_to_purchasable/migration.sql
  backend/prisma/migrations/20260112081918_remove_invoice_no/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/inventory/inventory.module.ts
  backend/src/inventory/inventory.service.ts
  backend/src/labour/labour.service.spec.ts
  backend/src/orders/orders.service.spec.ts
  backend/src/orders/orders.service.ts
  backend/src/prisma/prisma.service.mock.ts
  backend/src/products/dto/create-product.dto.ts
  backend/src/products/products.service.spec.ts
  backend/src/products/products.service.ts
  backend/src/purchases/dto/create-purchase.dto.ts
  backend/src/purchases/purchases.controller.ts
  backend/src/purchases/purchases.module.ts
  backend/src/purchases/purchases.service.ts
  backend/test/inventory-flow.e2e-spec.ts
  frontend/src/App.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Modal.test.jsx
  frontend/src/components/Sidebar.jsx
  frontend/src/components/SmartSelector.jsx
  frontend/src/pages/Login.test.jsx
  frontend/src/pages/OrderForm.jsx
  frontend/src/pages/ProductForm.jsx
  frontend/src/pages/ProductForm.test.jsx
  frontend/src/pages/PurchaseForm.jsx
  frontend/src/pages/PurchasesList.jsx
Due: npm run lint --prefix backend

fix: add missing recharts dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: correct production directory path in deploy script
  deploy/deploy_remote.sh
Due: none
